/* 基本設定 */
body {
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}
* {
    box-sizing: border-box;
}
header {
    background-color: #070426;
    color: white;
    padding: 20px 20px;
    padding-top: 50px;
}
/* ヘッダー内のコンテナ */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* タイトル（ウェブサイト名） */
header h1 {
    font-size: 28px;
    margin: 0;
}

/* ナビゲーションのスタイル */
nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex; 
    
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}
.top {
    width: 100%; 
    max-width: 1200px;  
    opacity: 0;                  
    animation: fadeIn 3s ease-in forwards;  
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

main h1 {
    text-align: center;
    margin-top: 75px;
}
.text {
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
}
.shop-info {
    border-collapse: collapse;       
    width: 500px;                   
    max-width: 90%;                   
    margin: 0px auto;               
    display: table;                  
}
.shop-info th, .shop-info td {
    border: 1px solid #ffffff;       
    padding: 15px;                    
    text-align: center;             
    vertical-align: middle;          
}
.tenpo {
    text-align: center;
}
footer {
    text-align: center;
    background-color: #070426;
    padding-top: 25px;
    padding-bottom: 25px;
}
.gallery {
    display: flex;
    justify-content: center;   
    gap: 30px;                  
    margin-top: 40px;
  }

  .gallery img {
    width: 200px;              
    height: 200px;              
    border-radius: 50%;        
    object-fit: cover;          
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s; 
  }

  .gallery img:hover {
    transform: scale(1.1);      
  }
.URL {
    color: #ffffff;
    text-decoration: underline;
}

/* モバイル対応 */
@media (max-width: 767px) {
    nav ul {
        flex-wrap: wrap;
        gap: 10px;  
        padding-left: 90px;
    }
    main {
        padding-left: 30px;
        padding-right: 30px;
    }
    .mokuji a {
        font-size: 10px;
    }
    .gallery img {
        width: 100%;
        max-width: 100px;    
        height: auto;
        object-fit: cover;   
        display: block;
        margin: 0 auto;
    }
    .shop-info {
        width: 90%;             
        margin: 20px auto;      
        font-size: 14px;        
        padding: 10px;          
    }
    .shop-info th, .shop-info td {
        padding: 10px;          
        font-size: 12px;        
    }
    footer {
        text-align: center;
        background-color: #070426;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
